@media screen and (max-width: 900px) {

    header .menu-desktop, header .btn-contato{
        display: none;
    }
    .btn-abrir-menu{
        display: block;
    }
    
}

@media screen and (max-width: 878px) {
    /*----HERO----*/

    *{
        overflow-x: hidden;
    }
    
    section.hero-site {
        height: 100vh;
        background-image: url(images/bg-estetic-moba.webp);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    .hero-site .txt-hero{
        width: 100%;
        margin: auto;
        padding-bottom: 22em;
    }
    .hero-site .txt-hero h1{
    font-size: 2.2em;
    line-height: 50px;
    width: 500px;
    }

    .hero-site .txt-hero p{
    font-size: 14px;
    width: 400px;
    }


    .hero-site button{
    font-size: 18px;
    width: 370px;
    }

    /*------VANTAGENS-----*/

    .vantagens .itens-container{
        flex-direction: column;
    }
    .vantagens .itens-container .img-itens img{
        width: 95%;
    }
    .vantagens .itens-container .txt-itens h1{
        font-size: 2.2em;
        line-height: 50px;
        
    }
    .vantagens .itens-container .txt-itens p{
        margin-bottom: 18px;
    }

    .vantagens .itens-container .item-1{
        order: 1;
    }

    .vantagens .itens-container .item-2{
        order: 0;
    }

    /*-------CONTATO------*/

    .txt-contato, .icons-contato{
        display: block;
        width: 100%;
    }

    .contato .txt-contato h1{
        font-size: 1.7em;
        line-height: 40px;
    }

    .contato .icons-contato button{
        width: 100%;
    }

    .contato .txt-contato p{
        margin-bottom: 20px;
    }
    
    /*------  HOTEIS------*/
    section.hoteis{
        background-position: center;
        background-size: cover;
        height: 500px;
    }
    .hoteis h1{
        font-size: 1.8em;
        line-height: 40px;
    }

    .hoteis p{
        font-size: 16px;
    }

    .hoteis button {
        width: 300px;
}

    /*-----COMO FUCIONA------*/

    .txt-funciona, .instrucoes{
        display: block;
        width: 100%;
    }

    .fuciona .txt-funciona{
        position: static;
    }

    .fuciona .txt-funciona h1{
        font-size: 2.5em;
        text-align: center;
        
    }

    .instrucoes .instro-box{
        flex-direction: column;
        text-align: center;
    }

    /*------FOOTER-----*/
    footer .middle-footer a{
        color: #fff;
        margin: 15px 0;
        display: block;
    
    }
    footer .bottom-footer p{
        font-size: 14px;
    }
    

}